/* -------------------------- */
/*       - ABOUT WINES -
/* -------------------------- */

// Main about wines section wrapper
.section-aboutw {
    position: relative;
    min-height: 95vh;
    background-image: linear-gradient(rgba($color-black, .80), rgba($color-black, .80)), url(../img/winery-1.jpeg);
    background-position: center;
    background-size: cover;
}